<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성 -->
<mapper namespace="com.momo.mapper.FileuploadMapper">
		
		<select id="getList" resultType="com.momo.vo.FileuploadVO">
		SELECT t.*,
		       uploadpath || uuid || '_' || filename AS savePath,
		       DECODE(filetype, 'I', uploadpath || 's_' || uuid || '_' || filename, 'NO_image') AS s_savePath
		FROM tbl_attach t
		WHERE bno = #{bno}
		</select>
		
		<insert id="insert">
		insert into tbl_attach (UUID, UPLOADPATH, FILENAME, FILETYPE, BNO) 
		values (#{uuid},#{uploadpath},#{filename},#{filetype},#{bno})
		</insert>

		<!-- 쿼리문에서 #{}변수를 두개이상 받아야할 경우엔 무조건 @Param 이용해야함 -->
		<delete id="delete">
		delete
		from tbl_attach
		where bno=#{bno}
		and	uuid=#{uuid}
		
		</delete>

		<select id="getOne" resultType="com.momo.vo.FileuploadVO">
		SELECT t.*,
		       uploadpath || uuid || '_' || filename AS savePath,
		       DECODE(filetype, 'I', uploadpath ||'s_'|| uuid || '_' || filename, 'NO_image') AS s_savePath
		FROM tbl_attach t
		WHERE bno = #{bno}
		  AND uuid = #{uuid} 
		</select>


</mapper>